# ignore all files
*

# preserve necessary ones
!docs/
!utils/
!main.py
!requirements.txt
!README*
!.gitignore

# explicitly ignore virtual environment
venv/
env/
.venv/
.env/

# ignore python cache
__pycache__/
*.pyc
*.pyo
*.pyd
